
body {
  /* position: fixed; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.1fr 4fr 1.3fr;
  grid-template-rows: 55px 110px 3fr 3fr;
}

.sidemenu {
  /* padding: 10px; */
  position: relative;
  grid-column: 1/2;
  grid-row: 1/5;
  background-color: maroon;

}

.sidemenu > .links {

}

.search {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 20px;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 40px;
  align-items: center;
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: black;
}

form > input[type="search"] {
  width: 100%;
  min-width: 200px;
  height: 22px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray;
}

form {
  padding-right: 100px;
}


.header {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 3fr 100px 100px 100px;
  padding-right: 8vw;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.header > button {
  background-color: white;
  width: 80px;
  height: 28px;
  border: maroon solid 2px;
  border-radius: 12px;
}

.header > img {
  width: 5rem;
}

.header > div:nth-child(2) {
  justify-self: start;
  width: 100%;
  padding-left: 10px;
}


.notes {
  color: black;
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  padding: 20px;
  padding-right: 0;
  background-color: white;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,45%));
  row-gap: 35px;
  column-gap: 30px;
  padding-left: 20px;
  padding-bottom: 20px;
  justify-content: center;
  /* align-items: center; */
}

.notes > p {
  padding-left: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 12px;
  background-color: black;
  border-left: 8px solid maroon;
  border-radius: 15px;
  max-height: auto;
}

.card > p:nth-child(1) >  span {
  font-size: 1.2rem;
}

.card > p:nth-child(1) {
  color: lightgray;
  font-size: 0.8rem;
  flex: 1;
}

.icons {
  color: black;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 6px;
}

.sidebar {
  color: black;
  grid-row: 3/5;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-template-rows: 1fr 1fr;
  padding-top: 20px;
  padding-right: 25px;
}

.right_card  > p {
  margin-bottom: 2px;
}

.announcements {
  border: black solid 1px;
  padding: 6px;
}

.logo {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  /* border: 1px solid white; */
  width: 100%;
}

.links > ul {
  text-align: center;
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.links > ul > li {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
}

.links {
  margin-top: 35px;
}

.profile {
  border-radius: 50%;
  border: maroon solid 2px;
}

.test {
  padding-top: 15px;
  position: sticky;
  top: 0;
}


/* .notes, .sidebar {
  background-color: lightgray;
} */


.intro {
  font-size: 1.7rem;
}

.intro > span {
  font-size: 0.8rem;
}
