
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 1.5fr 3fr 3fr;
}

.sidemenu {
  /* padding: 10px; */
  grid-column: 1/2;
  grid-row: 1/5;
  background-color: maroon;
}

.search {
  display: grid;
  grid-template-columns: auto 1fr auto auto auto;
  gap: 20px;
  padding-left: 30px;
  padding-right: 40px;
  align-items: center;
  grid-column: 2/4;
  grid-row: 1/2;
  background-color: black;
}

form > input[type="search"] {
  width: 100%;
  min-width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray;
}

form {
  padding-right: 100px;
}


.header {
  grid-column: 2/4;
  grid-row: 2/3;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 3fr 100px 100px 100px;
  padding-right: 8vw;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
}

.header > button {
  background-color: white;
  width: 75px;
  border: maroon solid 2px;
  border-radius: 12px;
}

.header > img {
  width: 5rem;
}

.header > div:nth-child(2) {
  justify-self: start;
  width: 100%;
  padding-left: 10px;
}


.notes {
  grid-column: 2/3;
  grid-row: 3/5;
  background-color: bisque;
}

.sidebar {
  grid-row: 3/5;
  background-color: darksalmon;
}

.logo {
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  /* border: 1px solid white; */
  width: 100%;
}

.links > ul {
  text-align: center;
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
}

.links > ul > li {
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 10px;
}

.links {
  margin-top: 35px;
}

img {
  border-radius: 50%;
  border: maroon solid 2px;
}


.notes, .sidebar {
  background-color: lightgray;
}
